<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Super Admin Page</title>
        <div th:replace="fragments/header :: header-css"/>
    </head>
    <body>
        <div th:replace="fragments/header :: header"/>
        <div class="container">
            <div class="starter-template">
                <h1>Super Admin Page (Spring Security protected)</h1>

                <h2 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h2>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"/>
    </body>
</html>